.spacer {
  flex: 1;
}

.search {
  display: flex;
  position: relative;
  &__input {
    -webkit-appearance: none;
    border: none;
    -moz-appearance: none;
    padding-right: 32px;
    padding-left: 16px;
    line-height: 32px;
    border-radius: 16px;
  }
  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
  }
}
